$salmon: #FA7268;
$cosmos: #FCC6C1;
$black: #262626;
$white: #FBFBFB;
$carmine: #AD373E;
$grey: #F6F6F6;
// $cyan: #60daaa;

$opensans: 'Open Sans Condensed', sans-serif;
$teko: 'Teko', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;
$economica: 'Economica', sans-serif;