


.error {
	background-color: $grey;
	height: 100vh;
	background-size: cover;
	overflow-y: hidden;
	padding: 0 15px;



&__text { 
	position: relative;
	z-index: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 150px;




	

 }

 &__text:after { 
 	content: url('../images/error.png');
 	position: absolute;
 	z-index: -1;
 	bottom: -3px;
    right: 0;



  }


&__title {	
	font: 500 500px $teko;
	line-height: 0.5;
	color: $salmon;
	




	}
&__desc { 
	font: 300 45px $opensans;
	width: 34%;
	text-align: center;
	margin-left: 12%;
	padding-top: 30px;
	color: $black;

 } 
}