.clients { 
	padding-bottom: 145px;

	&__title { 
		text-align: center;
		padding-bottom: 40px;
	}

	&__wrapper { 
		position: relative;

	}

	&__wrapper::after { 
		content: '04';
		font: 100px $teko;
		color: $salmon;
		position: absolute;
		display: block;
		z-index: 1;
		bottom: -110px;
		left: -80px;
	}

	&__img {
		border: 2px solid $salmon;
		border-radius: 2px;

	}
}

