.footer { 
	background: #FA7268;


	&__copyright { 
	}

	&__network { 
		width: 20%;
		display: flex;
		justify-content: space-between;
	}

	&__link { 
		text-decoration: none;
		color: $white;
	}
}


.iconfacebook {
	width: 33px;
	height: 33px;
	fill: #fff;


	&:hover {
		// fill: #3C5A99;
		transition: .2s;
		-webkit-filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .7));
		filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .7));
		
	}
}

.iconinstagram {
	width: 33px;
	height: 33px;
	fill: #fff;



	&:hover{
		// fill: #833AB4;
		transition: .2s;
		-webkit-filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .7));
		filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .7));
		
	}
}

.iconhouse {
	width: 36px;
	height: 33px;
	fill: #fff;


	&:hover {
		// fill: #F1C40F;
		transition: .2s;
		-webkit-filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .7));
		filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .7));
		
	}
}

.shcontainer--footer { 
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: $white;
	font: 300 18px $opensans;
	padding-top: 20px;
	padding-bottom: 20px;
}
