.popular { 
	padding-bottom: 195px;

	&__text { 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;


	}

	&__title { 
		width: 33%;

	}

	&__description {
		padding-right: 10px;
		position: relative;


	}

	&__description::after { 
		content: 'style';
		font: 500 500px $teko;
		color: $cosmos;
		position: absolute;
		display: block;
		text-transform: uppercase;
		top: 273px;
		right: -144px;


		z-index: -1;
	}


	&__wrap { 
		position: relative;
	}

	&__wrap::after { 
		content: '03';
		font: 100px $teko;
		color: $salmon;
		position: absolute;
		display: block;
		z-index: 1;
		bottom: -80px;
		right: 20px;
		
	}

	&__img { 

	}
}