.men { 
	padding-bottom: 112px;
	
	&__text { 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;


	}

	&__title { 
		width: 35%;

	}

	&__description {
		padding-right: 38px;
		position: relative;


	}

	&__description::after { 
		content: 'luxury';
		font: 500 500px $teko;
		color: $cosmos;
		position: absolute;
		display: block;
		text-transform: uppercase;
		top: 180px;
		right: -188px;

		z-index: -1;
	}


	&__img { 

	}

	&__wrap { 
		position: relative;
	}

	&__wrap::after { 
		content: '02';
		font: 100px $teko;
		color: $salmon;
		position: absolute;
		display: block;
		z-index: 1;
		bottom: -80px;
		left: 17px;
		
	}
}

// ОБОЖЕМОЙ

